<div class="top-50 position-relative col-md-10 col-md-offset-1">
  <% if current_user.admin? %>
    <h3>Please Select Week To Add Scores To:</h3>
  <% else %>
    <h3>Please Select Week:</h3>
  <% end %>
  
  <div class="divTable">
    <div class="divTableBody">
      <% @weeks.each do |week| %>
        <div class="divTableRow">
          <div class="divTableCell">
            <%= link_to week_path(week) do %>
              <% if week.bowl_game? %>
                Bowl Games Week <%= week.week_number %>
              <% else %>
                Week <%= week.week_number %>
              <% end %>
              <%= "(Active)" if week.active? %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>