<div class="top-50 position-relative col-md-10 col-md-offset-1">
  <% if current_user.admin? %>
    <h3>Please Select Week To Add Scores To:</h3>
  <% else %>
    <h3>Please Select Week:</h3>
  <% end %>
  <div class="divTable">
  <div class="divTableBody">

  <div class="divTableRow">
    <div class="divTableCell"><h4 class="text-align-center">Week Number</h4></div>
    <div class="divTableCell"><h4 class="text-align-center">Add Scores</h4></div>
  </div>
  
  <% @weeks.each do |week| %>
    <div class="divTableRow">
      <div class="divTableCell"><%= "#{week.week_number}" %></div>
      <% if current_user.admin? %>
        <div class="divTableCell"><%= link_to "Add Scores for Week #{week.week_number}", week_path(week) %></div>
      <% else %>
        <div class="divTableCell"><%= link_to "View Scores for Week #{week.week_number}", week_path(week) %></div>
      <% end %>
    </div>
  <% end %>
</div>
</div>
</div>