<%- model_class = Week -%>
<div class="col-md-10 col-md-offset-1">
  <h1 class="text-align-center">Create <%=t '.title', :default => [:'helpers.titles.new', 'New %{model}'], :model => Week %></h1>
</div>
<%= render :partial => 'form' %>

