<div class="top-100 position-relative row">
  <div class="col-md-12">
    <div class="position-relative">
      <% if Rails.env.development? %>
        <div class="text-align-center col-xs-3 col-md-3">
          <h4 class="text-underline">Announcements</h4>
          <p><%= announce Announcement.newest, hide_message: "" %></p>
        </div>


      <% else %>
        <div class="text-align-center col-xs-12">
          <h4>Welcome to the New Shazam!</h4>
        </div>
      <% end %>
    </div>
  </div>
</div>