<div class="col-md-12 margin-all-0 padding-all-0">
  <div class="hero">
    <h1 class="text-align-center">Welcome to The New Shazam 13</h1>
    
    <%= image_tag "football.jpg" %>

    <div class="bar">
<!--       <ul>
        <li><%= link_to "Login", new_user_session_path %></li>
        <li><%= link_to "Sign Up", new_user_registration_path %></li>
      </ul> -->
    </div>
  </div>
</div>