<div class="row">
    <div class="col-md-12">
      <%= image_tag "" %>
    </div>
    <div class="instructions top-50 position-relative col-md-6 col-md-offset-3">
      <h3 class="text-align-center text-underline">Instructions</h3>
      <ol>
        <li>
          Login
        </li>
        <li>
          Enter your e-mail for user name and choose a Password If you would rather be known by a nick name, there is a place for that too.
        </li>
        <li>
          Go to <%= link_to  "Make Picks", games_path %>
        </li>
        <li>
          Every week there will be 13 games to pick, chosen by yours truly, Commissario. I choose the Games based on the top 25 ranked Teams, everyone’s Favorites, please let me know your Faves so I can include them as often as possible, as well as Monday’s Las Vegas/ESPN point spreads.
        </li>
        <li>
          We are a UNIQUE CFB Pool in that you play 2 ways each week. Thank You Glenn Smiley...
        </li>
        <li>
          On the far left, Under  Game A  are 3 columns. The First 2 columns are Home and Away. Click on the team that you think will win straight up for each of the 13 games.
        </li>
        <li>
          In the Third column of GAME A, Rank the Teams 1-13. 
          <br>
          This means that the team you feel has the Strongest chance of winning their game gets a 13 , and the team you think has the least chance of winning their game, that you picked to win, gets a 1. 
          <br>
          If the team you pick wins, you get the amount of Points you chose.  Total   Possible points = 91
          <br>
          Please call me with questions. It took yours truly a bit of time to figure this out, and Glenn Smiley the founder of Pick 13, our predecessor from Texas. was very patient with me!
        </li>
        <li>
          In the Fourth, Fifth and Sixth columns  are Game B.  Pick which team you think will win, based on the point spread, that I have included. You get 7 points for each correct pick. In a rush? Click the Select All Faves or Dogs link to quickly fill in all the Favorites or Underdogs for Game B.
        </li>
        <li>
          Press Submit!  You can also print out your games.
        </li>
      </ol>
      <br>
      <p>
        You have until a short while before the first game starts to make and change your picks. Usually it is on Saturday morning, but sometimes it is THURSDAY evening.
      </p>
      <p>
        Once I studied Very hard to make my picks.  I used The Sagarin rankings.  It was  one of my worst weeks ever-2nd lowest score out of over 600 people. Mostly I use USA Todays' Wednesday edition, Thank you Gail, and go by my gut. Noah Kraff probably rarely picks against Texas, and Until Amanda Schallman picked with her head and not her heart she didn’t become a Champion. Go Irish!  We have a lot of Wolverine and Badger fans too, and my son-in law is a Very Loyal Wildcat fan.
      </p>
      <p>
        In addition to my weekly comments, You, will receive some Jokes, I need help, Thank you Manny Brown.  From our HOME page you can see weekly and Cumulative stats. As well as Live Schedules and Spreads from ESPN and CBS
      </p>
      <p>We will pay out the top 3 spots each week.  If we have over 50 participants, we will pay out more spots.  The fee this year is 75$, And you will be able to pay by check, or PAYPAL. There will also be a Grand Prize winner for the whole year and a Bowl Extravaganza winner. There are 15 weeks in the regular season.  And this year we will finally have the Top 4 teams in a playoff..  If anyone knows how your Commissario could be part of the committee that chooses the Teams, Please let me know!</p>
      <p>OK, I am sure I forgot something. Call or e-mail me, 847-404-9809 Let the Fun begin, Love your Commissario-the Italian form of commissioner!</p>
    </div>
</div>
