<div class="row">
  <div class="top-50 position-relative col-md-6 col-md-offset-3">
    <h1 class="text-center">Full Last Week Leaderboard</h1>
    <table class="table table-bordered table-striped table-responsive">
      <thead>
        <tr>
          <th>
            Rank
          </th>
          <th>
            Username
          </th>
          <th>
            Total Points
          </th>
        </tr>
      </thead>
      <tbody>
        <% @last_week_leaders.each_with_index do |score, i| %>
        <tr>
          <td><%= i+1 %></td>
          <td>
            <%= score[1] %>
          </td>
          <td>
            <%= score[0] %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
