<div class="top-100 position-relative row">
  <div class="col-sm-10 col-sm-offset-1">
    <table class="table table-bordered table-striped table-responsive">
      <thead>
        <tr>
          <th>
            Name
          </th>
          <th>
            Username
          </th>
          <th>
            See Picks
          </th>
        </tr>
      </thead>
      <tbody>
        <% User.all.each do |user| %>
        <tr>
          <td>
            <%= user.name %>
          </td>
          <td>
            <%= user.username %>
          </td>
          <td>
            <%= link_to "See #{user.name}'s Selections this Week", user_path(user) %>
          </td>
        </tr>
        <% end %>
      </tbody>
</table>
  </div>
</div>
