<div class="row">
    <div class="top-50 position-relative col-md-6 col-md-offset-3">
      <h3 class="text-align-center text-underline">Real Time Scores</h3>
      <div class="top-50 position-relative col-md-6 text-align-center col-sm-12">
        <%= link_to "http://espn.go.com/college-football/scoreboard", :target => "_blank" do %>
          <%= image_tag("espn.jpg", :class => "score-logo", :alt => "ESPN") %>     
        <% end %>  
      </div>
      <div class="top-50 position-relative col-md-6 text-align-center col-sm-12">
        <%= link_to "http://www.cbssports.com/collegefootball/scoreboard", :target => "_blank" do %>
          <%= image_tag("cbs.png", :class => "score-logo", :alt => "CBS") %>     
        <% end %>  
    </div>
  </div>
</div>