<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Shazam13</h1>
    <p>
      This email was sent to: <%= @email_list.to %>
    </p>
  </body>
</html>
