<div class="row">
    <div class="col-md-12">
      <%= image_tag "" %>
    </div>
    <div class="top-50 position-relative col-md-5 col-md-offset-1">
      <h3 class="text-align-center text-underline">Weekly Results</h3>
      <%= render partial: "layouts/full_weekly_leaderboard" %>
    </div>

    <div class="top-50 position-relative col-md-5">
      <h3 class="text-align-center text-underline">Cumulative Scores</h3>
      <%= render partial: "layouts/full_cumulative_leaderboard" %>
    </div>

</div>


