<div class="top-100 position-relative row">
  <div class="col-sm-10 col-sm-offset-1">
    <h3>All User Info</h3>
    <table class="table table-bordered table-striped table-responsive">
      <thead>
        <tr>
          <th>
            Username
          </th>
          <th>
            Name
          </th>
          <th>
            Status
          </th>
          <th>
            Delete
          </th>
        </tr>
      </thead>
      <tbody>
        <% User.order("name ASC").all.each do |user| %>
        <tr>
          <td>
            <%= link_to "#{user.username}", user_path(user.id) %>
          </td>
          <td>
            <%= link_to "#{user.name}", user_path(user.id) %>
          </td>
          <td>
            <%= user.active? == true ? (link_to "Active (Click to Deactivate User)", deactivate_profile_path(user_id: user)) : (link_to "Inactive (Click to Activate User)", activate_profile_path(user_id: user)) %>
          </td>
          <td>
            <%= link_to 'Delete User', delete_user_path(user_id: user), data: { confirm: 'Are you sure?' } %>
          </td>
        </tr>
        <% end %>
      </tbody>
</table>
  </div>
</div>
