<div class="top-100 position-relative row">
    <div class="col-sm-10 col-sm-offset-1">
      <table class="table table-bordered table-striped table-responsive">
        <thead>
          <tr>
            <th>
               Spread Picks for: <%= @game.away_team.region %> <%= @game.away_team.name %>
            </th>
          </tr>
        </thead>
        <tbody>    
          <tr>
            <td>            
            <% @game.selections.where(spread_pick_team: @game.away_team_id).each do |away_picks|  %>
            <% if away_picks.spread_pick_team == @game.away_team_id %>
                <%= away_picks.user.name %>
            <% end %>
            <% end %>
            </td>           
          </tr>
        </tbody>
  </table>
    </div>
</div>