<div class="top-100 position-relative text-align-center">
  <p class="">
    <%= button_to "Disable Selections", disable_picks_path, class: "btn btn-primary", method: :post, data: { confirm: "Disable Selections For All Games " } %>
  </p>
</div>