<div class="top-100 position-relative text-align-center">
  <p class="">
    <%= button_to "Disable Ability To Make Selections", disable_picks_path, class: "btn btn-primary", method: :post, remote: true, data: { confirm: "Please Confirm." } %>
  </p>
</div>