<div class="row">
  <div class="col-xs-4 col-md-4">Announcements</div>
  <div class="col-xs-4 col-md-4">Top Scores for the Week</div>
  <div class="col-xs-4 col-md-4">Top Scores for the Season (Cumulative)</div>
</div>