// Place all the styles related to the selections controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.info {
    background: #D5EDF8;
    color: #205791;
    padding: 0.8em;
    margin-bottom: 1em;
    border: 2px solid #92CAE4;
}