// Poisiton 
.position-relative{
  position: relative;
}

.top-50{
  top: 50px;
}

// Text

.text-align-center{
  text-align: center;
}
.text-underline{
  text-decoration: underline;
}


// Margins

.margin-all-0{
  margin: 0px;
}

.margin-10-0{
  margin: 10px 0px;
}
.margin-20-0{
  margin: 20px 0px;
}
.margin-30-0{
  margin: 30px 0px;
}

.padding-all-0{
  padding:  0px;
}
