<table class="table table-bordered table-striped table-responsive">
  <thead>
    <tr>
      <th>
        Username
      </th>
      <th>
        Total Points
      </th>
    </tr>
  </thead>
  <tfoot>
    <tr>
      <th class="text-align-center" colspan="2"><a href="/leaderboard">See Full Leaderboard</a></th>
    </tr>
  </tfoot>
  <tbody>
    <% @cumulative_points.each if @cumulative_points.present? do |score| %>
    <tr>
      <td>
        <%= score[1] %>
      </td>
      <td>
        <%= score[0]  %>
      </td>
    <% end %>
    </tr>
  </tbody>
</table>