<table class="table table-bordered table-striped table-responsive">
  <thead>
    <tr>
      <th>
        Rank
      </th>
      <th>
        Username
    
      </th>
      <th>
        Total Points
      </th>
    </tr>
  </thead>
  <tfoot>
    <tr>
      <th class="text-align-center" colspan="3"><a href="/stats">See Full Leaderboard</a></th>
    </tr>
  </tfoot>
  <tbody>
    <!-- if @cumulative_points.present? <- this made nothing render, why? -->
    <% @cumulative_points.each_with_index do |score, i| %>
    <tr>
      <td><%= i+1 %></td>
      <td>
        <%= score[1] %>
      </td>
      <td>
        <%= score[0]  %>
      </td>
    <% end %>
    </tr>
  </tbody>
</table>
