<table class="table table-bordered table-striped table-responsive">
  <thead>
    <tr>
      <th>
        Username
      </th>
      <th>
        Total Points
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        echezbro
      </td>
      <td>
        231
      </td>
    </tr>
    <tr>
      <td>
        ccooper
      </td>
      <td>
        229
      </td>
    </tr>
    <tr>
      <td>
        justinjackson
      </td>
      <td>
        217
      </td>
    </tr>
    <tr>
      <td>
        marcysmith
      </td>
      <td>
        213
      </td>
    </tr>
  </tbody>
</table>