<table class="table table-bordered table-striped table-responsive">
  <thead>
    <tr>
      <th>
        Rank
      </th>
      <th>
        Username
      </th>
      <th>
        Total Points
      </th>
    </tr>
  </thead>
  <tbody>
    <% @full_cumulative_points.each_with_index do |score, i| %>
    <tr>
      <td><%= i+1 %></td>
      <td>
        <%= score[1] %>
      </td>
      <td>
        <%= score[0] %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
