<table class="table table-bordered table-striped table-responsive">
  <thead>
    <tr>
      <th>
        Username
      </th>
      <th>
        Total Points
      </th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td>
        echezbro
      </td>
      <td>
        631
      </td>
    </tr>
    <tr>
      <td>
        ccooper
      </td>
      <td>
        629
      </td>
    </tr>
    <tr>
      <td>
        justinjackson
      </td>
      <td>
        617
      </td>
    </tr>
    <tr>
      <td>
        marcysmith
      </td>
      <td>
        613
      </td>
    </tr>
    <tr>
      <td>
        dougjones
      </td>
      <td>
        514
      </td>
    </tr>
    <tr>
      <td>
        nelsonbanda
      </td>
      <td>
        499
      </td>
    </tr>
    <tr>
      <td>
        chrisstephens
      </td>
      <td>
        497
      </td>
    </tr>
    <tr>
      <td>
        willsolomon
      </td>
      <td>
        467
      </td>
    </tr>
    <tr>
      <td>
        maxkellerman
      </td>
      <td>
        453
      </td>
    </tr>
    <tr>
      <td>
        jasonstein
      </td>
      <td>
        451
      </td>
    </tr>
    <tr>
      <td>
        wendyketai
      </td>
      <td>
        449
      </td>
    </tr>
    <tr>
      <td>
        benwallace
      </td>
      <td>
        493
      </td>
    </tr>
  </tbody>
</table>