<table class="table table-bordered table-striped table-responsive">
  <thead>
    <tr>
      <th>
        Username
      </th>
      <th>
        Total Points
      </th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td>
        echezbro
      </td>
      <td>
        631
      </td>
    </tr>
    <tr>
      <td>
        ccooper
      </td>
      <td>
        629
      </td>
    </tr>
    <tr>
      <td>
        justinjackson
      </td>
      <td>
        617
      </td>
    </tr>
    <tr>
      <td>
        marcysmith
      </td>
      <td>
        613
      </td>
    </tr>
  </tbody>
</table>