<table class="table table-bordered table-striped table-responsive">
  <thead>
    <tr>
      <th>Rank</th>
      <th>
        Username
      </th>
      <th>
        Total Points
      </th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td>
        1
      </td>
      <td>
        tkaegi
      </td>
      <td>
        168
      </td>
    </tr>
    <tr>
      <td>
        2
      </td>
      <td>
        Stevensryan
      </td>
      <td>
        160
      </td>
    </tr>
    <tr>
      <td>
        3
      </td>
      <td>
        RSmith
      </td>
      <td>
        150
      </td>
    </tr>
    <tr>
      <td>
        4
      </td>
      <td>
        aschallman017
      </td>
      <td>
        147
      </td>
    </tr>
    <tr>
      <td>
        5
      </td>
      <td>
        Steve
      </td>
      <td>
        147
      </td>
    </tr>
  </tbody>
</table>
