<table class="table table-bordered table-striped table-responsive">
  <thead>
    <tr>
      <th>
        Username
      </th>
      <th>
        Total Points
      </th>
    </tr>
  </thead>
  <tfoot>
    <tr>
      <th class="text-align-center" colspan="2"><a href="/last-week">See Full Leaderboard</a></th>
    </tr>
  </tfoot>
  <tbody>
    <% User.limit(5).order(total_weekly_points: :desc).each do |user| %>
      <tr>
        <td>
          <%= user.username  %>
        </td>
        <td>
          <%= user.total_weekly_points  %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
