<table class="table table-bordered table-striped table-responsive">
  <thead>
    <tr>
      <th>Rank</th>
      <th>
        Username
      </th>
      <th>
        Total Points
      </th>
    </tr>
  </thead>
  <tfoot>
    <tr>
      <th class="text-align-center" colspan="3"><a href="/last-week">See Last Week's Leaderboard</a></th>
    </tr>
  </tfoot>
  <tbody>
    <tr>
      <td>
        1
      </td>
      <td>
        Nskraff
      </td>
      <td>
        164
      </td>
    </tr>
    <tr>
      <td>
        2
      </td>
      <td>
      Chasnic
      </td>
      <td>
      160
      </td>
    </tr>
    <tr>
      <td>
        3
      </td>
      <td>
        gshufelt
      </td>
      <td>
        160
      </td>
    </tr>
    <tr>
      <td>
        4
      </td>
      <td>
        robgoss
      </td>
      <td>
        154
      </td>
    </tr>
    <tr>
      <td>
        5
      </td>
      <td>
        ZPatzik
      </td>
      <td>
        152
      </td>
    </tr>
  </tbody>
</table>
