<table class="table table-bordered table-striped table-responsive">
  <thead>
    <tr>
      <th>
        Year
      </th>
      <th>
        Username
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        2015
      </td>
      <td>
        echezbro
      </td>
    </tr>
    <tr>
      <td>
        2014
      </td>
      <td>
        ccooper
      </td>
    </tr>
    <tr>
      <td>
        2013
      </td>
      <td>
        natejones
      </td>
    </tr>
    <tr>
      <td>
        2012
      </td>
      <td>
        maxkellerman
      </td>
    </tr>
    <tr>
      <td>
        2011
      </td>
      <td>
        sarajessop
      </td>
    </tr>
  </tbody>
</table>