<table class="table table-bordered table-striped table-responsive">
  <thead>
    <tr>
      <th>
        Year
      </th>
      <th>
        Username
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="champions_td_height">
        2016
      </td>
      <td class="champions_td_height">
        Cousin Joe Kaplan
      </td>
    </tr>
    <tr>
      <td class="champions_td_height">
        2015
      </td>
      <td class="champions_td_height">
        Amanda Schallman
      </td>
    </tr>
    <tr>
      <td class="champions_td_height">
        2014
      </td>
      <td class="champions_td_height">
        Greg Shufelt
      </td>
    </tr>
    <tr>
      <td class="champions_td_height">
        2013
      </td>
      <td class="champions_td_height">
        Bruce Goldstick & Jay Warden
      </td>
    </tr>
  </tbody>
</table>
