<table class="table table-bordered table-striped table-responsive">
  <thead>
    <tr>
      <th>Game</th>
      <th>
        Team Name
      </th>
      <th>
        Total Selections
      </th>
    </tr>
  </thead>
  <tbody>
  <% @total_selections_for_pref_pick_team.each do |key, value| %>
    <tr>
      <td><%= "#{Game.find(key[1]).home_team.region}" " #{Game.find(key[1]).home_team.name}" " vs. " " #{Game.find(key[1]).away_team.region}" " #{Game.find(key[1]).away_team.name}"  %></td>
      <td>
        <%= "#{Team.find(key[0]).region} " "#{Team.find(key[0]).name}" %>
      </td>
      <td>
        <%= value %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
