<table class="table table-bordered table-striped table-responsive">
  <thead>
    <tr>
      <th>
        Username
      </th>
      <th>
        Total Points
      </th>
    </tr>
  </thead>
  <tfoot>
    <tr>
      <th class="text-align-center" colspan="2"><a href="/stats">See Full Leaderboard</a></th>
    </tr>
  </tfoot>
  <tbody>
      <% if @week.present? && @weekly_points.present? %>
        <% @weekly_points.each do |score| %>
      <tr>
        <td>
          <%= score[1] if @week.active? %>
        </td>
        <td>
          <%= score[0] if @week.active? %>
        </td>
    </tr>
    <% end %>
  <% else %>
      <tr>
        <td>
          <%= "N/A" %>
        </td>
        <td>
          <%= "N/A" %>
        </td>
    </tr>
  <% end %>
  </tbody>
</table>